.form-group input + #errorMessage{
    display: none;
}
.form-group input:invalid[focused='true']{
    border: 1px solid red;
}
.form-group input:invalid[focused='true'] + #errorMessage{
    display: block;
}